.page {
  padding: 30px 150px;
  background-color: var(--primary-color);
}

.header__title {
  width: 100%;
  color: white;
  background-color: var(--primary-color);
  font-size: 32px;
  margin-bottom: 50px;
}
