.page {
  padding: 100px;
  background-color: var(--primary-color);
}

.header__title {
  width: 100%;
  color: var(--primary-contrast-color);
  background-color: var(--primary-color);
  font-size: 32px;
  margin-bottom: 50px;
}
