.anime-page {
  background-color: #434343;
}

.anime-image {
  max-width: 150px;
  max-height: 150px;
  object-position: center;
  object-fit: cover;
}

.mat-header-cell {
  border: 1px white solid;
  text-align: center;
  font-size: 1.5rem;
}

.mat-cell {
  border: 1px gray solid;
  text-align: center;
}

.mat-table {
  max-width: 1440px;
  margin: auto;
}

.filtering {
  margin: auto;
}

.pagination {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
