.anime-page {
  background-color: var(--primary-color);
  width: 100%;
}

.anime-page__buttons-container {
  display: flex;
  justify-content: space-between;
}

.anime-page__search-container {
  width: 45%;
  height: 55px;
  display: flex;
}

.anime-page__search-form {
  margin-right: 15px;
}

.anime-page__search-button {
  color: white;
  border: var(--primary-border);
}

.anime-table {
  width: 100%;
  background-color: var(--primary-color);
  margin-bottom: 15px;
}

.anime-table__image {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
  max-width: 150px;
}

.mat-header-cell {
  border: var(--primary-border);
  border-radius: var(--primary-border-radius);
  max-width: 150px;
  padding: 20px;
  font-size: 1.5rem;
}

.mat-cell {
  border: var(--primary-border);
  border-radius: var(--primary-border-radius);
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}

.mat-cell:first-of-type {
  padding: 0;
}

.anime-page__login-info {
  width: 100%;
  justify-content: end;
  display: flex;
  margin-bottom: 80px;
}

.anime-page__quit {
  color: white;
  border: var(--primary-border);
  font-size: 1.2rem;
}
