.anime-table {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.anime-image {
  max-width: var(--primary-width-image-cell);
  max-height: var(--primary-height-image-cell);
  object-position: center;
  object-fit: cover;
}

.mat-header-cell {
  border: var(--primary-border);
  text-align: center;
  font-size: 1.5rem;
}

.mat-cell {
  border: var(--primary-border);
  text-align: center;
}

.loading-layout {
  position: fixed;
  top: 50%;
  left: 50%;
}
