<div class="anime-page">
  <header class="header">
    <h1 class="header__title">Anime catalog</h1>
    <button
      mat-stroked-button
      (click)="onQuitButtonClick()"
      routerLink="/login"
      class="button"
      type="button"
    >
      Quit
    </button>
  </header>
  <div class="top-container">
    <div class="top-container__search-block">
      <mat-form-field class="top-container__search-form" appearance="fill">
        <mat-label>Enter anime title</mat-label>
        <input [(ngModel)]="searchString" matInput />
      </mat-form-field>
      <button
        class="button"
        mat-stroked-button
        type="button"
        (click)="onSearchButtonClick()"
      >
        Search anime
      </button>
    </div>
    <filtering (filterChange)="onFilteringSelectClick($event)"></filtering>
  </div>

  <table
    class="anime-table"
    mat-table
    [trackBy]="trackBy"
    *ngIf="animeList$ | async as animeList; else loadSpin"
    [dataSource]="animeList"
    aria-label="anime-table"
    matSort
    [matSortActive]="activeSortHeader"
    [matSortDirection]="directionSortHeader"
    (matSortChange)="onSortButtonClick($event)"
  >
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let anime">
        <img
          class="anime-table__image"
          [src]="anime.imageUrl"
          [alt]="anime.titleEng"
        />
      </td>
    </ng-container>
    <ng-container matColumnDef="title_eng">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>English Title</th>
      <td mat-cell *matCellDef="let anime">{{ anime.titleEng }}</td>
    </ng-container>
    <ng-container matColumnDef="title_jpn">
      <th mat-header-cell *matHeaderCellDef>Japanese Title</th>
      <td mat-cell *matCellDef="let anime">{{ anime.titleJpn }}</td>
    </ng-container>
    <ng-container matColumnDef="aired__startswith">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Aired Start</th>
      <td mat-cell *matCellDef="let anime">
        {{ anime.airedStart | date: "dd.MM.YYYY" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let anime">{{ anime.type }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let anime">{{ anime.status }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let anime">
        <div class="anime-table__button-block">
          <button
            class="anime-table__button"
            (click)="onDeleteClick($event, anime.id, anime.titleEng)"
            mat-stroked-button
            type="button"
          >
            Delete
          </button>
          <button
            class="anime-table__button"
            (click)="onEditClick($event)"
            mat-stroked-button
            type="button"
          >
            Edit
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let anime; columns: displayedColumns"
      (click)="onTableRowClick(anime.id)"
    ></tr>
    <!-- Row shown when there is no matching data. -->
    <tr *matNoDataRow>
      <td colspan="4">No data matching the search "{{ searchString }}"</td>
    </tr>
  </table>
  <pagination (paginationChange)="onPaginationClick($event)"></pagination>
  <ng-template #loadSpin>
    <div class="loading-layout">
      <p>Loading</p>
      <mat-spinner color="accent" diameter="70"></mat-spinner>
    </div>
  </ng-template>
</div>
