<div class="container">
  <h1 class="login-title">Login page</h1>
  <form [formGroup]="form" (ngSubmit)="submitLogin()" class="form">
    <mat-form-field color="accent" class="form-element">
      <input
        type="email"
        formControlName="email"
        matInput
        placeholder="Email"
      />
      <mat-error
        *ngIf="!form.controls['email'].valid && form.controls['email'].touched"
        >{{ getErrorEmail() }}</mat-error
      >
    </mat-form-field>
    <mat-form-field color="accent" class="form-element">
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Password"
      />
      <mat-error
        *ngIf="
          !form.controls['password'].valid && form.controls['password'].touched
        "
      >
        {{ getErrorPassword() }}
      </mat-error>
    </mat-form-field>
    <div class="form__button-container">
      <button mat-stroked-button type="submit" [disabled]="!form.valid">
        Login
      </button>
      <a class="form__register-link" mat-button routerLink="/register">Register an account</a>
    </div>
  </form>
</div>
