.form {
  display: flex;
  flex-direction: column;
}

.container {
  color: var(--primary-contrast-color);
  max-width: 600px;
  margin: auto;
}

.mat-stroked-button {
  border: var(--primary-border);
  width: 110px;
  margin-top: 30px;
}

.login-title {
  margin-bottom: 30px;
}

.form__button-container {
  display: flex;
  justify-content: space-between;
}

.form__register-link {
  margin-top: 30px;
}
