<div class="container">
  <h1>Registration page</h1>
  <form [formGroup]="form" (ngSubmit)="submitRegister()" class="form">
    <mat-form-field color="accent" class="form-element">
      <input matInput type="email" formControlName="email" placeholder="Email">
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field color="accent" class="form-element">
      <input matInput type="text" formControlName="firstName" placeholder="First name">
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field color="accent" class="form-element">
      <input matInput type="text" formControlName="lastName" placeholder="Last name">
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field color="accent" class="form-element">
      <input matInput type="url" formControlName="avatar" placeholder="Avatar">
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field color="accent" class="form-element">
      <input matInput type="password" formControlName="password" placeholder="Password">
      <mat-error></mat-error>
    </mat-form-field>
    <div class="form-element">
      <button mat-stroked-button type="submit">
        Registration
      </button>
    </div>
  </form>
</div>

